//fonts---------------------//
$font-stack-primary: 'Lato', sans-serif;
$font-size-blockquote: 1.5em;

//colors------------------------//
$color-primary: #58e1c1;
$color-secondary: #777;
$color-default: #51ddfc;
$color-error: #e4757a;
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856;
$white: #fff;

//media queries-------------//
$break: 768px;

//other-------------------------//
$max-width: 1400px;

//button type list --------------//
$button-types: (
    'default':$color-default,
    'error':$color-error,
    'info':$color-info,
    'success':$color-success,
    'warning':$color-warning,
);



//column colors -----------------//

$column-colors: (
    'col-1': $color-info,
    'col-2': $color-warning,
    'col-3': #deb2ee,
    'col-4': #7ee6fd,
    'col-5': #88d9a0,
    'col-6': #4da2bb,
    'col-7': #ec9fa3,
    'col-8': #fd9f85,
    'col-9': $color-error,
    'col-10': $color-success,
    'col-11': $color-default,
    'col-12': #80e8d1,
);

$column-flexes: (
    'col-1': 8.33%,
    'col-2': 16.67%,
    'col-3': 25.00%,
    'col-4': 33.33%,
    'col-5': 41.67%,
    'col-6': 50.00%,
    'col-7': 58.33%,
    'col-8': 66.67%,
    'col-9': 75.00%,
    'col-10': 83.33%,
    'col-11': 91.67%,
    'col-12': 100%,
);

