/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    @include mobile-break{
        padding: 10px 30px;
    }
    &+.btn{
        @include mobile-break{
            margin-left: 10px;
        }
    }
}

@each $type, $color in $button-types {
    .#{$type}{
        background-color: $color;
        transition: 0.5s ease-in-out;
        &:hover{
            background-color:lighten($color, 15%);
        }
    }

}