
/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @include mobile-break{
        max-width: $max-width;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.centered {
    @include mobile-break{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @include mobile-break{
        flex-direction: row;
    }   
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @include mobile-break{
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
    }
    &+ [class^=col] {
        @include mobile-break{  
            margin-left: 10px;
        }
    }
}

@each $column, $col-color in $column-colors{
    .theme.#{$column} {
        background-color: $col-color;
    }
}

.card {
    flex-basis: 100%;
}

@each $column, $flex in $column-flexes {
    @include mobile-break{
        .#{$column}{
            flex-basis: $flex;
        }
    }
}